<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.agitation.sport.repository.CourseTypeDao">

    <insert id="save"  parameterType="CourseType" useGeneratedKeys="true" keyProperty="id">
		insert into sport_courseType (name, type, createDate)
		values (
		#{name}, #{type}, now())
	</insert>
	
	<update id="update" parameterType="CourseType" flushCache="true">
		update sport_courseType set name=#{name}, updateDate=now() where id=#{id}
	</update>
	
    <select id="findAll"  resultType="CourseType">
		select id, name, type
		from sport_courseType
	</select>
	
	<select id="findOne"  parameterType="long" resultType="CourseType">
		select id, name, type
		from sport_courseType where id=#{id}
	</select>
	
	<!-- 删除用户 -->
	<delete id="delete" parameterType="long">
	     delete from sport_courseType where id=#{id}
	</delete>
	
	<select id="findAllByMobile" resultType="map" parameterType="hashmap">
		select id, name
		from sport_courseType
		where type=#{type}
	</select>
</mapper> 
